@font-face {
  font-family: "iconfont"; /* Project id 4724106 */
  src: url('iconfont.woff2?t=1730375025719') format('woff2'),
       url('iconfont.woff?t=1730375025719') format('woff'),
       url('iconfont.ttf?t=1730375025719') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-RectangleCopy:before {
  content: "\e6a2";
}

.icon-RectangleCopy1:before {
  content: "\e6a7";
}

.icon-jubao:before {
  content: "\e61d";
}

.icon-anquanbaozhang:before {
  content: "\e61e";
}

.icon-xiaoxi-zhihui:before {
  content: "\e61f";
}

.icon-xihuan:before {
  content: "\e620";
}

.icon-gengduo:before {
  content: "\e621";
}

.icon-shouye-zhihui:before {
  content: "\e622";
}

.icon-weixiu:before {
  content: "\e602";
}

.icon-youkachongzhi:before {
  content: "\e603";
}

.icon-fakuandaijiaobeifen:before {
  content: "\e604";
}

.icon-xinchebibei:before {
  content: "\e605";
}

.icon-zhuanchezhuanyongbeifen:before {
  content: "\e606";
}

.icon-jinrongmaichebeifen:before {
  content: "\e607";
}

.icon-jiazhaochafenbeifen:before {
  content: "\e608";
}

.icon-mendian:before {
  content: "\e609";
}

.icon-aichegujiabeifen6:before {
  content: "\e60a";
}

.icon-remaihaoche:before {
  content: "\e60b";
}

